In [9]:
import numpy as np
import pandas as pd

In [2]:
# Read the dataset
data = pd.read_csv('insurance.csv')

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
data.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [6]:
# Calculate summary statistics grouped by a categorical variable
categorical_variable = 'age'  # Replace with your actual column name
numeric_variable = 'charges'  # Replace with your actual column name

summary_stats = data.groupby(categorical_variable)[numeric_variable].describe()

print(summary_stats)

     count          mean           std          min           25%  \
age
18    69.0   7086.217556  10198.459989   1121.87390   1633.044400
19    68.0   9747.909335  12469.537468   1241.56500   1639.563100
20    29.0  10159.697736  12049.624794   1391.52870   1967.022700
21    28.0   4730.464330   6168.059334   1515.34490   1985.288350
22    28.0  10012.932802  14653.363670   1664.99960   2155.351375
23    28.0  12419.820040  13421.332226   1815.87590   2432.780150
24    28.0  10648.015962  12203.650633   1969.61400   2462.839600
25    28.0   9838.365311  11551.289468   2137.65360   3160.320800
26    28.0   6133.825309   7765.729490   2302.30000   2921.320525
27    28.0  12184.701721  11941.821519   2483.73600   3507.332763
28    28.0   9069.187564  11428.968136   2689.49540   3486.981975
29    27.0  10430.158727  10680.198133   2866.09100   3945.504250
30    27.0  12719.110358  12515.212111   3554.20300   4194.077625
31    27.0  10196.980573  13646.442909   3260.19900   4186.987550
32    26.0   9220.300291   9346.679417   3866.85520   4381.383400
33    26.0  12351.532987  12877.615547   3704.35450   4981.876613
34    26.0  11613.528121  11735.073137   3935.17990   4919.159075
35    25.0  11307.182031  10699.982062   4746.34400   5227.988750
36    25.0  12204.476138  12884.341739   4399.73100   5272.175800
37    25.0  18019.911877  15125.287420   4646.75900   6313.759000
38    25.0   8102.733674   7328.907184   5383.53600   5974.384700
39    25.0  11778.242945   8633.209968   5649.71500   6338.075600
40    27.0  11772.251310   9908.912699   5415.66120   6498.560950
41    27.0   9653.745650   8859.592248   5699.83750   6430.389625
42    27.0  13061.038669  10707.617483   5966.88740   7046.110600
43    27.0  19267.278653  13529.394340   6250.43500   7584.377100
44    27.0  15859.396587  14394.948695   6948.70080   7624.074000
45    29.0  14830.199856  13722.541933   7222.78625   7935.291150
46    29.0  14342.590639  12159.482988   7147.10500   8334.457550
47    29.0  17653.999593  12208.024204   8062.76400   8551.347000
48    29.0  14632.500445  10163.267470   7789.63500   8765.249000
49    28.0  12696.006264   7531.013383   8116.68000   9133.667187
50    29.0  15663.003301  10939.123514   8442.66700   9058.730300
51    29.0  15682.255867  12707.113233   8782.46900   9386.161300
52    29.0  18256.269719  12408.353431   9140.95100   9991.037650
53    28.0  16020.930755  10096.072182   9487.64420  10288.192250
54    28.0  18758.546475  14216.087249   9850.43200  10731.578275
55    26.0  16164.545488  10107.689508  10214.63600  10793.057562
56    26.0  15025.515837   9204.315199  10577.08700  11077.561450
57    26.0  16447.185250   9987.941108  10959.33000  11539.710387
58    25.0  13878.928112   7437.416700  11345.51900  11743.934100
59    25.0  18895.869532  11170.560074  11743.29900  12333.828000
60    23.0  21979.418507  14923.698375  12142.57860  12646.646200
61    23.0  22024.457609  12525.158617  12557.60530  13136.470050
62    23.0  19163.856573  10320.270030  12957.11800  13454.541400
63    23.0  19884.998461  11850.935198  13390.55900  13887.586250
64    22.0  23275.530837  13029.841607  13822.80300  14398.651450

              50%           75%          max
age
18    2198.189850  11272.331390  38792.68560
19    2135.891875  17148.980075  39722.74620
20    2459.720100  17085.267600  38344.56600
21    2254.423600   3205.349712  26018.95052
22    2641.155700   4078.134675  44501.39820
23    3594.538000  19145.024148  40904.19950
24    3045.137650  17508.424985  38126.24650
25    3750.148925  16333.214445  42112.23560
26    3388.882175   3983.464100  36085.21900
27    4544.324475  18262.557125  39611.75770
28    4344.951450   5387.969638  51194.55914
29    4906.409650  16398.239750  44585.45587
30    4837.582300  18864.523685  40932.42950
31    4738.268200   5769.127200  58571.07448
32    4672.016100   6282.957025  37607.52770
33    6210.083300  15683.447812  55135.40209
34    5490.091700  13703.235488  43943.87610
35    5836.520400  19361.998800  39983.42595
36    5478.036800   7243.813600  43753.33705
37    6985.506950  37270.151200  46113.51100
38    6455.862650   6933.242250  41949.24410
39    7512.267000  19023.260000  40103.89000
40    7077.189400  12040.553015  40003.33225
41    6875.961000   7560.464200  40273.64550
42    7443.643050  19740.143950  43896.37630
43   18767.737700  22179.710000  45863.20500
44    8023.135450  16196.009635  48885.13561
45    8603.823400   9788.865900  62592.87309
46    8825.086000   9500.573050  46151.12450
47    9715.841000  24535.698550  44202.65360
48    9447.382400  21223.675800  45702.02235
49    9681.120250  10530.410600  39727.61400
50   10107.220600  19749.383380  42856.83800
51    9875.680400  11436.738150  47462.89400
52   11396.900200  24667.419000  60021.39897
53   11157.174000  20646.202745  46661.44240
54   11816.449500  24702.933133  63770.42801
55   11880.231025  12906.949488  44423.80300
56   11658.247100  12573.420100  43921.18370
57   11893.878225  14101.812875  48675.51770
58   11931.125250  12231.613600  47496.49445
59   12928.791100  21797.000400  48970.24760
60   13204.285650  29591.566240  52590.82939
61   13635.637900  29005.012100  48517.56315
62   13844.797200  21306.589040  46718.16325
63   14349.854400  15362.628875  48824.45000
64   15528.758375  28757.715888  49577.66240

In [8]:
# Extract the desired statistics for each category
desired_statistics = ['mean', 'median', 'min', 'max', 'std']

# Create a list of numeric values for each response to the categorical variable
category_values = summary_stats.index.tolist()

# Print the summary statistics
print(summary_stats)
print("Category values:", category_values)

     count          mean           std          min           25%  \
age
18    69.0   7086.217556  10198.459989   1121.87390   1633.044400
19    68.0   9747.909335  12469.537468   1241.56500   1639.563100
20    29.0  10159.697736  12049.624794   1391.52870   1967.022700
21    28.0   4730.464330   6168.059334   1515.34490   1985.288350
22    28.0  10012.932802  14653.363670   1664.99960   2155.351375
23    28.0  12419.820040  13421.332226   1815.87590   2432.780150
24    28.0  10648.015962  12203.650633   1969.61400   2462.839600
25    28.0   9838.365311  11551.289468   2137.65360   3160.320800
26    28.0   6133.825309   7765.729490   2302.30000   2921.320525
27    28.0  12184.701721  11941.821519   2483.73600   3507.332763
28    28.0   9069.187564  11428.968136   2689.49540   3486.981975
29    27.0  10430.158727  10680.198133   2866.09100   3945.504250
30    27.0  12719.110358  12515.212111   3554.20300   4194.077625
31    27.0  10196.980573  13646.442909   3260.19900   4186.987550
32    26.0   9220.300291   9346.679417   3866.85520   4381.383400
33    26.0  12351.532987  12877.615547   3704.35450   4981.876613
34    26.0  11613.528121  11735.073137   3935.17990   4919.159075
35    25.0  11307.182031  10699.982062   4746.34400   5227.988750
36    25.0  12204.476138  12884.341739   4399.73100   5272.175800
37    25.0  18019.911877  15125.287420   4646.75900   6313.759000
38    25.0   8102.733674   7328.907184   5383.53600   5974.384700
39    25.0  11778.242945   8633.209968   5649.71500   6338.075600
40    27.0  11772.251310   9908.912699   5415.66120   6498.560950
41    27.0   9653.745650   8859.592248   5699.83750   6430.389625
42    27.0  13061.038669  10707.617483   5966.88740   7046.110600
43    27.0  19267.278653  13529.394340   6250.43500   7584.377100
44    27.0  15859.396587  14394.948695   6948.70080   7624.074000
45    29.0  14830.199856  13722.541933   7222.78625   7935.291150
46    29.0  14342.590639  12159.482988   7147.10500   8334.457550
47    29.0  17653.999593  12208.024204   8062.76400   8551.347000
48    29.0  14632.500445  10163.267470   7789.63500   8765.249000
49    28.0  12696.006264   7531.013383   8116.68000   9133.667187
50    29.0  15663.003301  10939.123514   8442.66700   9058.730300
51    29.0  15682.255867  12707.113233   8782.46900   9386.161300
52    29.0  18256.269719  12408.353431   9140.95100   9991.037650
53    28.0  16020.930755  10096.072182   9487.64420  10288.192250
54    28.0  18758.546475  14216.087249   9850.43200  10731.578275
55    26.0  16164.545488  10107.689508  10214.63600  10793.057562
56    26.0  15025.515837   9204.315199  10577.08700  11077.561450
57    26.0  16447.185250   9987.941108  10959.33000  11539.710387
58    25.0  13878.928112   7437.416700  11345.51900  11743.934100
59    25.0  18895.869532  11170.560074  11743.29900  12333.828000
60    23.0  21979.418507  14923.698375  12142.57860  12646.646200
61    23.0  22024.457609  12525.158617  12557.60530  13136.470050
62    23.0  19163.856573  10320.270030  12957.11800  13454.541400
63    23.0  19884.998461  11850.935198  13390.55900  13887.586250
64    22.0  23275.530837  13029.841607  13822.80300  14398.651450

              50%           75%          max
age
18    2198.189850  11272.331390  38792.68560
19    2135.891875  17148.980075  39722.74620
20    2459.720100  17085.267600  38344.56600
21    2254.423600   3205.349712  26018.95052
22    2641.155700   4078.134675  44501.39820
23    3594.538000  19145.024148  40904.19950
24    3045.137650  17508.424985  38126.24650
25    3750.148925  16333.214445  42112.23560
26    3388.882175   3983.464100  36085.21900
27    4544.324475  18262.557125  39611.75770
28    4344.951450   5387.969638  51194.55914
29    4906.409650  16398.239750  44585.45587
30    4837.582300  18864.523685  40932.42950
31    4738.268200   5769.127200  58571.07448
32    4672.016100   6282.957025  37607.52770
33    6210.083300  15683.447812  55135.40209
34    5490.091700  13703.235488  43943.87610
35    5836.520400  19361.998800  39983.42595
36    5478.036800   7243.813600  43753.33705
37    6985.506950  37270.151200  46113.51100
38    6455.862650   6933.242250  41949.24410
39    7512.267000  19023.260000  40103.89000
40    7077.189400  12040.553015  40003.33225
41    6875.961000   7560.464200  40273.64550
42    7443.643050  19740.143950  43896.37630
43   18767.737700  22179.710000  45863.20500
44    8023.135450  16196.009635  48885.13561
45    8603.823400   9788.865900  62592.87309
46    8825.086000   9500.573050  46151.12450
47    9715.841000  24535.698550  44202.65360
48    9447.382400  21223.675800  45702.02235
49    9681.120250  10530.410600  39727.61400
50   10107.220600  19749.383380  42856.83800
51    9875.680400  11436.738150  47462.89400
52   11396.900200  24667.419000  60021.39897
53   11157.174000  20646.202745  46661.44240
54   11816.449500  24702.933133  63770.42801
55   11880.231025  12906.949488  44423.80300
56   11658.247100  12573.420100  43921.18370
57   11893.878225  14101.812875  48675.51770
58   11931.125250  12231.613600  47496.49445
59   12928.791100  21797.000400  48970.24760
60   13204.285650  29591.566240  52590.82939
61   13635.637900  29005.012100  48517.56315
62   13844.797200  21306.589040  46718.16325
63   14349.854400  15362.628875  48824.45000
64   15528.758375  28757.715888  49577.66240
Category values: [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]

Part 2

In [12]:
df = pd.read_csv('Iris.csv')

In [13]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [15]:
# Filter dataset for 'Iris-setosa', 'Iris-versicolor', and 'Iris-virginica'
setosa_df = df[df['Species'] == 'Iris-setosa']
versicolor_df = df[df['Species'] == 'Iris-versicolor']
virginica_df = df[df['Species'] == 'Iris-virginica']

In [16]:
print(setosa_df)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa

In [17]:
print(versicolor_df)

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
50   51            7.0           3.2            4.7           1.4
51   52            6.4           3.2            4.5           1.5
52   53            6.9           3.1            4.9           1.5
53   54            5.5           2.3            4.0           1.3
54   55            6.5           2.8            4.6           1.5
55   56            5.7           2.8            4.5           1.3
56   57            6.3           3.3            4.7           1.6
57   58            4.9           2.4            3.3           1.0
58   59            6.6           2.9            4.6           1.3
59   60            5.2           2.7            3.9           1.4
60   61            5.0           2.0            3.5           1.0
61   62            5.9           3.0            4.2           1.5
62   63            6.0           2.2            4.0           1.0
63   64            6.1           2.9            4.7           1.4
64   65            5.6           2.9            3.6           1.3
65   66            6.7           3.1            4.4           1.4
66   67            5.6           3.0            4.5           1.5
67   68            5.8           2.7            4.1           1.0
68   69            6.2           2.2            4.5           1.5
69   70            5.6           2.5            3.9           1.1
70   71            5.9           3.2            4.8           1.8
71   72            6.1           2.8            4.0           1.3
72   73            6.3           2.5            4.9           1.5
73   74            6.1           2.8            4.7           1.2
74   75            6.4           2.9            4.3           1.3
75   76            6.6           3.0            4.4           1.4
76   77            6.8           2.8            4.8           1.4
77   78            6.7           3.0            5.0           1.7
78   79            6.0           2.9            4.5           1.5
79   80            5.7           2.6            3.5           1.0
80   81            5.5           2.4            3.8           1.1
81   82            5.5           2.4            3.7           1.0
82   83            5.8           2.7            3.9           1.2
83   84            6.0           2.7            5.1           1.6
84   85            5.4           3.0            4.5           1.5
85   86            6.0           3.4            4.5           1.6
86   87            6.7           3.1            4.7           1.5
87   88            6.3           2.3            4.4           1.3
88   89            5.6           3.0            4.1           1.3
89   90            5.5           2.5            4.0           1.3
90   91            5.5           2.6            4.4           1.2
91   92            6.1           3.0            4.6           1.4
92   93            5.8           2.6            4.0           1.2
93   94            5.0           2.3            3.3           1.0
94   95            5.6           2.7            4.2           1.3
95   96            5.7           3.0            4.2           1.2
96   97            5.7           2.9            4.2           1.3
97   98            6.2           2.9            4.3           1.3
98   99            5.1           2.5            3.0           1.1
99  100            5.7           2.8            4.1           1.3

            Species
50  Iris-versicolor
51  Iris-versicolor
52  Iris-versicolor
53  Iris-versicolor
54  Iris-versicolor
55  Iris-versicolor
56  Iris-versicolor
57  Iris-versicolor
58  Iris-versicolor
59  Iris-versicolor
60  Iris-versicolor
61  Iris-versicolor
62  Iris-versicolor
63  Iris-versicolor
64  Iris-versicolor
65  Iris-versicolor
66  Iris-versicolor
67  Iris-versicolor
68  Iris-versicolor
69  Iris-versicolor
70  Iris-versicolor
71  Iris-versicolor
72  Iris-versicolor
73  Iris-versicolor
74  Iris-versicolor
75  Iris-versicolor
76  Iris-versicolor
77  Iris-versicolor
78  Iris-versicolor
79  Iris-versicolor
80  Iris-versicolor
81  Iris-versicolor
82  Iris-versicolor
83  Iris-versicolor
84  Iris-versicolor
85  Iris-versicolor
86  Iris-versicolor
87  Iris-versicolor
88  Iris-versicolor
89  Iris-versicolor
90  Iris-versicolor
91  Iris-versicolor
92  Iris-versicolor
93  Iris-versicolor
94  Iris-versicolor
95  Iris-versicolor
96  Iris-versicolor
97  Iris-versicolor
98  Iris-versicolor
99  Iris-versicolor

In [18]:
print(virginica_df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
100  101            6.3           3.3            6.0           2.5
101  102            5.8           2.7            5.1           1.9
102  103            7.1           3.0            5.9           2.1
103  104            6.3           2.9            5.6           1.8
104  105            6.5           3.0            5.8           2.2
105  106            7.6           3.0            6.6           2.1
106  107            4.9           2.5            4.5           1.7
107  108            7.3           2.9            6.3           1.8
108  109            6.7           2.5            5.8           1.8
109  110            7.2           3.6            6.1           2.5
110  111            6.5           3.2            5.1           2.0
111  112            6.4           2.7            5.3           1.9
112  113            6.8           3.0            5.5           2.1
113  114            5.7           2.5            5.0           2.0
114  115            5.8           2.8            5.1           2.4
115  116            6.4           3.2            5.3           2.3
116  117            6.5           3.0            5.5           1.8
117  118            7.7           3.8            6.7           2.2
118  119            7.7           2.6            6.9           2.3
119  120            6.0           2.2            5.0           1.5
120  121            6.9           3.2            5.7           2.3
121  122            5.6           2.8            4.9           2.0
122  123            7.7           2.8            6.7           2.0
123  124            6.3           2.7            4.9           1.8
124  125            6.7           3.3            5.7           2.1
125  126            7.2           3.2            6.0           1.8
126  127            6.2           2.8            4.8           1.8
127  128            6.1           3.0            4.9           1.8
128  129            6.4           2.8            5.6           2.1
129  130            7.2           3.0            5.8           1.6
130  131            7.4           2.8            6.1           1.9
131  132            7.9           3.8            6.4           2.0
132  133            6.4           2.8            5.6           2.2
133  134            6.3           2.8            5.1           1.5
134  135            6.1           2.6            5.6           1.4
135  136            7.7           3.0            6.1           2.3
136  137            6.3           3.4            5.6           2.4
137  138            6.4           3.1            5.5           1.8
138  139            6.0           3.0            4.8           1.8
139  140            6.9           3.1            5.4           2.1
140  141            6.7           3.1            5.6           2.4
141  142            6.9           3.1            5.1           2.3
142  143            5.8           2.7            5.1           1.9
143  144            6.8           3.2            5.9           2.3
144  145            6.7           3.3            5.7           2.5
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
100  Iris-virginica
101  Iris-virginica
102  Iris-virginica
103  Iris-virginica
104  Iris-virginica
105  Iris-virginica
106  Iris-virginica
107  Iris-virginica
108  Iris-virginica
109  Iris-virginica
110  Iris-virginica
111  Iris-virginica
112  Iris-virginica
113  Iris-virginica
114  Iris-virginica
115  Iris-virginica
116  Iris-virginica
117  Iris-virginica
118  Iris-virginica
119  Iris-virginica
120  Iris-virginica
121  Iris-virginica
122  Iris-virginica
123  Iris-virginica
124  Iris-virginica
125  Iris-virginica
126  Iris-virginica
127  Iris-virginica
128  Iris-virginica
129  Iris-virginica
130  Iris-virginica
131  Iris-virginica
132  Iris-virginica
133  Iris-virginica
134  Iris-virginica
135  Iris-virginica
136  Iris-virginica
137  Iris-virginica
138  Iris-virginica
139  Iris-virginica
140  Iris-virginica
141  Iris-virginica
142  Iris-virginica
143  Iris-virginica
144  Iris-virginica
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [19]:
# Calculate statistical details for each species
setosa_stats = setosa_df.describe()
versicolor_stats = versicolor_df.describe()
virginica_stats = virginica_df.describe()

In [20]:
print("Statistical details for 'Iris-setosa':")
print(setosa_stats)

Statistical details for 'Iris-setosa':
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [21]:
print("\nStatistical details for 'Iris-versicolor':")
print(versicolor_stats)

Statistical details for 'Iris-versicolor':
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

In [22]:
print("\nStatistical details for 'Iris-virginica':")
print(virginica_stats)

Statistical details for 'Iris-virginica':
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000